    #container {
      display: flex;
      align-items: flex-start;
    }
    #canvas {
      border: 1px solid black;
      margin-right: 10px;
    }
    .button {
     height: 100px;
     width: 100px;
     float: right;
    }
    #buttons{
      height:300px;
      width:50%;
      background-color: red;
      display: inline-block;
    }
    .controler{
      height: 100px;
      width: 100px;
    }
    #interactions{
      width:50%;
      background-color: blue;
      float:right;
    }
    